
.container {
    min-height: 100vh;
    background: linear-gradient(144deg, #190422 21.1%, #190422 102.96%);

nav{
    padding: 36px 72px 0 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        align-items: center;
        border: 2px solid yellow;
     
        li{
            a{
                /* margin-right: 56px; */
                color: #fff;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
                list-style-type: none;   
            }
        } 
    }
    .sign-in{
        padding: 12px 25px;
        border-radius: 7px;
        box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
        background-color: #bc8afc;
        color: #000;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
.main-box{
    padding: 0 21px 0 79px;
    display: flex;
    justify-content: space-between;
    .left-side{
        h1{
            width: 631px;
            color: #fff;
            margin-top: 221px;
            font-family: Poppins;
            font-size: 80px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
        p{
            margin-top: 32px;
            width: 628px;
            color: #fff;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 158%;
        }
    }
    .get-start{
        margin-top: 32px;
        padding: 12px 25px;
        width: 212px;
        display: flex;
        align-items: center;
        border-radius: 7px;
        box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
        background-color: #bc8afc;
    a{
        text-decoration: none;
        color: #000;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    }
    .right-box{
        width: 40%;
        margin-top: 95px;
        img{
            width: 100%;
        }

    }
}

}