* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 44px 104px 81px 0px;
  min-height: 100vh;
  background: conic-gradient(
    from -38deg at 72.08% 78.43%,
    rgba(28, 105, 255, 0) 0deg,
    rgba(255, 255, 255, 0.35) 360deg
  );
}

.container h1 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 158%;
  text-align: center;
}
.container ul {
  margin-top: 42px;
  display: flex;
  justify-content: center;
}

.container ul li {
  padding: 24px 24px;
  width: 522px;
  /* height: 341px; */
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin-right: 21px;
}

.container ul li .man {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.container ul li .man .stars {
  display: flex;
  align-items: center;
}
.container ul li .man .name {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  justify-content: center;
}

.container ul li p {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%;
}

.container .black-box {
  padding: 50px 60px;
  position: relative;
  margin-top: 70px;
  width: 1700px;
  height: 250px;
  border: 1.025px solid #757575;
  background: #190422;
}

.container .black-box .left-side h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container .black-box .left-side-box1 ul li {
  width: 10%;
  background: #190422;
}

.container .black-box .left-side-box1 ul li b {
  color: white;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
