@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    padding: 0 97px 107px 80px;
}

.container ul {
    width: 1280px;
height: 200px;
    padding: 51px 109px;
    border-radius: 16px;
background: #FFF;
box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
   
}

.container ul li {
    list-style-type: none;
    margin-right: 236px;
}
.container ul li h2 span {
    color: #1F262E;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: #BC8AFC;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.container ul li p {
    color: #1F262E;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.container .main-box {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.container .main-box .box-1 h2{
    width: 611px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.5%;
}

.container .main-box .box-1 p {
    width: 571px;
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 158%;
}

.container .main-box .get-start {
    width: 212px;
height: 58px;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-color:  #BC8AFC;

}

.container .main-box .get-start a {
    text-decoration: none;
    color: #000;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.container .main-box .get-start svg {
width: 33px;
height: 33px;
}